<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="css/semantic.min.css" data-th-href="@{/static/css/semantic.min.css}" />
    <link rel="stylesheet" href="css/main.css" data-th-href="@{/static/css/main.css}" />
        
    <script src="js/lib/jquery-3.2.0.min.js" data-th-src="@{/static/js/lib/jquery-3.2.0.min.js}"></script>
    <script src="js/lib/jquery-ui-1.12.1.min.js" data-th-src="@{/static/js/lib/jquery-ui-1.12.1.min.js}"></script>
    <script src="js/lib/jquery-cookie.js" data-th-src="@{/static/js/lib/jquery-cookie.js}"></script>
    <script src="js/common/common.js" data-th-src="@{/static/js/common/common.js}"></script>
    <script src="js/publish/semantic.min.js" data-th-src="@{/static/js/publish/semantic.min.js}"></script>
    
</head>
</html>