<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title data-th-text="'로그인'">로그인</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="css/semantic.min.css" data-th-href="@{/static/css/semantic.css}" />
        <style type="text/css">
            body {
              background-color: #DADADA;
            }
            body > .grid {
              height: 100%;
            }
            .image {
              margin-top: -100px;
            }
            .column {
              max-width: 450px;
            }
        </style>
        
        <script src="js/lib/jquery-3.2.0.min.js" data-th-src="@{/static/js/lib/jquery-3.2.0.min.js}"></script>
        <script src="js/lib/jquery-ui-1.12.1.min.js" data-th-src="@{/static/js/lib/jquery-ui-1.12.1.min.js}"></script>
        <script src="js/lib/jquery-cookie.js" data-th-src="@{/static/js/lib/jquery-cookie.js}"></script>
        <script src="js/common/common.js" data-th-src="@{/static/js/common/common.js}"></script>
        <script src="js/publish/semantic.min.js" data-th-src="@{/static/js/publish/semantic.min.js}"></script>
        
    </head>
    <body>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <form class="ui large form error" th:id="form" th:action="@{/login/authenticate}" method="post">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" th:name="email" th:id="email" placeholder="" value=""/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" th:name="password" th:id="password" placeholder=""/>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" id="remember-me" name="remember-me"/>
                                <label for="remember-me">로그인 상태 유지</label>
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button" id="btnLogin">Login</button>
                        <div class="ui error message" th:if="${error == 'failure' or error == 'expired' or error == 'duplicate'}">
	                        <ul class="list" th:switch="${error}">
                                <li th:case="failure">이메일 또는 비밀번호가 일치하지 않습니다.</li>
                                <li th:case="expired">다른 장치에서 이중로그인이 되어 세션이 만료되었습니다.</li>
                                <li th:case="duplicate">동일한 이메일이 존재하여 가입을 할 수 없습니다.</li>
	                        </ul>
                        </div>
                    </div>
                </form>
                
                <div class="ui message">
                     New to us? <a href="#" th:href="@{/signup?type=normal}">회원가입</a>
                </div>
                <button onclick="document.facebook.submit();" class="ui fluid large facebook button"><i class="facebook icon"></i>Facebook</button>
                <button onclick="document.google.submit();" class="ui fluid large google button"><i class="google icon"></i>Google</button>
            </div>
        </div>
        
        <form name="facebook" th:action="@{/auth/facebook}" >
            <input type="hidden" name="scope" value="email,user_friends"/>
        </form>
        <form name="google" th:action="@{/auth/google}" >
            <input type="hidden" name="scope" value="email profile"/>
        </form>
        
        <script src="js/content/login.js" data-th-src="@{/static/js/content/login.js}"></script>
        
    </body>
</html>