<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-main">
    <head>
        <title>메인 - Enjoy Diving </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
        <link rel="stylesheet" href="css/main.css" data-th-href="@{/static/css/main.css}" />
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="ui vertical stripe segment">
	            <div class="ui middle aligned stackable grid container">
	                <div class="row">
	                    <div class="eight wide column">
	                        <h3 class="ui header">로그북</h3>
	                        <p>스쿠버 다이빙 로그북은 자신의 다이빙 경험을 관리할 수 있는 도구로써 다이버라면 매 다이빙 후 필수적으로 작성해야하는 소중한 기록입니다. 로그북은 본인의 다이빙 경력을 증명할 수 있는 수단으로 사용되고 있으며 많은 다이빙 휴양지에서 자격증과 더불어 로그북 제시를 요구하기도 합니다.</p>
	                        <h3 class="ui header">이야기</h3>
	                        <p>다이빙을 통해서 즐겁고 재미있었던 이야기를 남기거나 공유 할 수 있습니다.</p>
	                    </div>
	                    <div class="six wide right floated column">
	                        <img src="/images/main/20180314_122149.jpg" data-th-src="@{/static/images/main/20180314_122149.jpg}" class="ui large bordered rounded image" alt="라자암팟 뷰 포인트" /> 
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="center aligned column">
	                        <a class="ui huge button">더보기</a>
	                    </div>
	                </div>
	            </div>
	        </div>
	    
	        <div class="ui vertical stripe quote segment">
	            <div class="ui equal width stackable internally celled grid">
	                <div class="center aligned row">
	                    <div class="column">
	                        <h3>"동양의 갈라파고스"</h3>
	                        <p>전세계 물고기와 산호의 70% 이상이 생존하는 바다 생태계의 끝판왕</p>
	                    </div>
	                    <div class="column">
	                        <h3>"죽기전에 한번은 가봐야 할곳!!!"</h3>
	                        <p>
	                            <img src="/images/avatar/nan.jpg" data-th-src="@{/static/images/avatar/nan.jpg}" class="ui avatar image" /> <b>kbtapjm</b> 라자암팟!!!
	                        </p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    
            <div class="ui vertical stripe segment">
	            <div class="ui text container">
	                <h3 class="ui header">두마게티 아포섬은...</h3>
	                <p>다이빙 시 장갑조차도 허용되지 않은 아포섬은 엄격한 보호를 받고있는 해양보호구역이며, 필리핀 10대 포인트에 들어갈 정도의 수 많은 산호와 수중생물들이 산재해 있습니다.
                        수 많은 경산호들과 열대어, 대형어류들, 잭피쉬,바라쿠다 스쿨링까지 최고의 수중환경을 이루는 유명 다이빙 포인트이지만, 조류가 있어 신중한 다이빙플랜이 필요합니다.</p>
	                <!-- <a class="ui large button">Read More</a> -->
                    <div class="six wide right floated column">
                        <img src="/images/main/PA060249.JPG" data-th-src="@{/static/images/main/PA060249.JPG}" class="ui large bordered rounded image" alt="아포섬에서 잭피쉬" /> 
                    </div>
	                <h4 class="ui horizontal header divider">
	                    
	                </h4>
	                <h3 class="ui header">사이판 GROTTO에서의 다이빙</h3>
	                <p>세계10대 포인트로 너무나도 멋진 곳입니다.
						웅장하고 아름다운 GROTTO를 평생 잊을 수가 없을 것입니다.
						GROTTO 밖으로 나가면, 청명한 바다가 여러분을 기다리고 있습니다.
						마치, 하늘을 나는 기분을 느낄 수가 있습니다.
						
						또한, 다양한 좁은 굴(터널)을 통과하는 재미도 있습니다.
	                </p>
	                <div class="six wide right floated column">
                        <img src="/images/main/saipan.jpg" data-th-src="@{/static/images/main/saipan.jpg}" class="ui large bordered rounded image" alt="아포섬에서 잭피쉬" /> 
                    </div>
	            </div>
	        </div>
        </th:block>
    </body>
</html>