<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout/template-default">
    <head>
        <title>회원가입 - Enjoy Diving </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        
    </head>
    <body>
        <th:block layout:fragment="content">
        
            <div class="ui attached message">
                <div class="header">
                인조이 다이빙 사이트에 오신걸 환영합니다.
                </div>
            <p>아래 양식을 작성하여 새 계정에 가입하십시오.</p>
            </div>
            
            <form class="ui form attached fluid segment" th:action="@{/signup}" th:id="signupForm" onsubmit="return false;">
                <input type="hidden" th:name="provider" th:id="provider" th:value="${user.provider}" />
            
                <div class="two fields">
                    <div class="required field">
                        <label>이메일</label>
                        <input type="text" th:name="email" th:id="email" placeholder="이메일" th:value="${user.email}" />
                    </div>
                    <div class="required field">
                        <label>이름</label>
                        <input type="text" th:name="name" th:id="name" placeholder="이름" th:value="${user.name}" />
                    </div>
                    
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>비밀번호</label>
                        <input type="password" th:name="password" th:id="password" placeholder="비밀번호" value="" />
                    </div>
                    <div class="required field">
                        <label>비밀번호 확인</label>
                        <input type="password" th:name="password-confirm" th:id="password-confirm" placeholder="비밀번호 확인" value="" />
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>닉네임</label>
                        <input type="text" th:name="nickname" th:id="nickname" placeholder="닉네임" value="" />
                    </div>
                    <div class="required field">
                        <label>성별</label>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" th:name="gender" th:id="male" value="0" tabindex="0" class="hidden" checked="checked" />
                                <label>남자</label>
                            </div>
                            <div class="ui radio checkbox">
                                <input type="radio" th:name="gender" th:id="female" value="1" tabindex="1" class="hidden"  />
                                <label>여자</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="required field">
                        <label>국가</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" th:name="country" th:id="country"/>
                            <i class="dropdown icon"></i>
                            <div class="default text">국가</div>
                            <div class="menu">
                                <div class="item" data-value="kr"><i class="kr flag"></i>South Korea</div>
                                <div class="item" data-value="cn"><i class="cn flag"></i>China</div>
                                <div class="item" data-value="jp"><i class="jp flag"></i>Japan</div>
                                <div class="item" data-value="id"><i class="id flag"></i>Indonesia</div>
                                <div class="item" data-value="us"><i class="us flag"></i>United States</div>
                                <div class="item" data-value="gb"><i class="gb flag"></i>England</div>  
                                <div class="item" data-value="ph"><i class="ph flag"></i>Philippines</div>
                                <div class="item" data-value="pw"><i class="pw flag"></i>Palau</div>
                                <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="required inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="terms"/>
                        <label for="terms">이용 약관에 동의합니다.</label>
                    </div>
                </div>
                <div class="ui red button" id="cancel">취소</div>
                <div class="ui blue submit button" id="submit">회원가입</div>
                <div class="ui error message"></div>
            </form>
            <!-- <div class="ui bottom attached warning message">
                Already signed up? <a href="#" th:href="@{/login}">Login here</a> instead.
            </div> -->
            
            <script src="js/content/signup.js" data-th-src="@{/static/js/content/signup.js}"></script>
        
        </th:block>
        
    </body>
</html>