<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:fragment="common">
    
    <!-- common modal popup type1 -->
    <div class="ui mini test modal">
        <div class="header" id="modal-header">
            알림
        </div>
        <div class="content" id="modal-msg">
            <p>메세지</p>
        </div>
        <div class="actions">
            <div class="ui negative button" id="modal-action-no" style="display:none;">
                아니오
            </div>
            <div class="ui positive right labeled icon button" id="modal-action-yes" style="display:none;">
                예
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    
    </th:block>
</head>
</html> 