<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
      <style type="text/css">
          body {
            background-color: #DADADA;
          }
          body > .grid {
            height: 100%;
          }
          .image {
            margin-top: -100px;
          }
          .column {
            max-width: 450px;
          }
      </style>
<head>

    <th:block th:fragment="common">
    
    <!-- common modal popup type1 -->
    <div class="ui mini test modal">
        <div class="header" id="modal-header">
            알림
        </div>
        <div class="content" id="modal-msg">
            <p>Are you sure you want to delete your account</p>
        </div>
        <div class="actions">
            <div class="ui negative button" id="modal-action-no" style="display:none;">
                아니오
            </div>
            <div class="ui positive right labeled icon button" id="modal-action-yes" style="display:none;">
                예
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    
    <!-- ui basic msg modal -->
    <div class="ui basic modal" id="ui-basic-modal">
        <div class="ui icon header" id="basic-modal-header">
            메세지
        </div>
        <div class="content" id="basic-modal-content">
            <p>message</p>
        </div>
        <div class="actions" id="basic-modal-actions">
            <div class="ui red basic cancel inverted button" id="basic-modal-actions-no">
            <i class="remove icon"></i>
            No
            </div>
            <div class="ui green ok inverted button" id="basic-modal-actions-yes">
            <i class="checkmark icon"></i>
            Yes
            </div>
        </div>
    </div>

    <!-- login layer modal popup -->
    <div class="ui modal" id="loginModal">
        <i class="close icon"></i>
        <div class="header">
            Login
        </div>
        <div class="content">
            <div class="ui middle aligned center aligned grid">
                <div class="column">
	                <form class="ui large form error" th:id="loginForm" th:action="@{/login}" onsubmit="return false;">
	                    <div class="ui stacked segment">
	                        <div class="field">
	                            <div class="ui left icon input">
	                                <i class="user icon"></i>
	                                <input type="text" th:name="email" th:id="email" placeholder="email" value="kbtapjm@gmail.com"/>
	                            </div>
	                        </div>
	                        <div class="field">
	                            <div class="ui left icon input">
	                                <i class="lock icon"></i>
	                                <input type="password" th:name="password" th:id="password" placeholder="Password"/>
	                            </div>
	                        </div>
	                        <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" id="remember-me" name="remember-me" tabindex="0" class="hidden" />
                                    <label for="remember-me">로그인 상태 유지</label>
                                </div>
                            </div>
	                        <button class="ui fluid large teal submit button" id="submit">Login</button>
	                        <div class="ui error message"></div>
	                    </div>
	                </form>
                </div>
            </div>
        </div>
    </div>
    
    </th:block>
</head>
</html> 